/cmake-build-debug/
/App/build-MXTimeline-Desktop_arm_darwin_generic_mach_o_64bit-Debug/
/App/MXTimeline/CMakeLists.txt.user
/App/MXTimeline/CMakeLists.txt.user.ad8703c
App/MXTimeline/CMakeLists.txt.user
.idea/deployment.xml
